{% extends "./bayprog_base.html" %}

{% block content %}

<h1>SF Bay Area Progressive Rock Bands and Musicians</h1>

{% for category, columns in catbands %}  
  <h2>{{category}}:</h2>

  {% if category == 'Tribute Bands' %}
    <div>
      <a href="https://twitter.com/julieklausner/status/1503012757171425281"
	 target="_blank">
	<img src="/static/bayprogapp/images/queencrimson.png"
	     width="400" height="131"
	     alt="Is there an all non-dude King Crimson cover band called Queen Crimson or do I have to LEARN HOW TO PLAY THE FUCKING CHAPMAN STICK MYSELF -- Julie Klausner" 
	     class="cartoon" />
      </a>
    </div>
  {% endif %}

  <div class="bands">
    {% for column in columns %}
    <div class="bandsColumn">  
      {% for band in column %}
      <div class="band">
	<b><a href="{{ band.url }}" target="_blank">
	    {{band.name}}
	</a></b>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>  
{% endfor %}
 
{% endblock %}

