{% extends "./bayprog_base.html" %}

{% block content %}

<h1>Instrument Makers</h1>

<p>
  (Editor's note: There are far more instrument makers in the area
  than I ever expected.)
</p>

{% for category, instrumentmakers in categorymakers %}  
<h2>{{ category }}</h2>

<div class="list-items">

  {% for instrumentmaker in instrumentmakers %}
  <div class="list-item">

    <div class="list-item-main">
      <b><a href="{{instrumentmaker.url}}" target="_blank">{{ instrumentmaker.name }}</a></b>, 
      {{ instrumentmaker.city.name }}
    </div>
    
    <div class="list-item-note">
      {{ instrumentmaker.note  }}
    </div>

  </div>
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
