{% extends "./bayprog_base.html" %}

{% block content %}

<h1>Bay Area Music Stores</h1>

{% for region, stores in regionstores %}  
<h2>{{region}}</h2>

<div class="list-items">

  {% for store in stores %}
  <div class="list-item">

    <div class="list-item-main">
      <b><a href="{{store.url}}" target="_blank">{{store.name}}</a></b>,
      {% if store.address %}
      {{store.address}},
      {% endif %}
      {{store.city.name}}
    </div>

    <div class="list-item-note">
      {{ store.note }}
    </div>
  </div>

  {% endfor %}
</div>
{% endfor %}

{% endblock %}
